##############################################################################
# ScaleIO task groups
##############################################################################      
- id: scaleio-storage
  type: group
  role: [scaleio-storage]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, firewall, deploy_start]
  required_for: [deploy_end, primary-controller, controller]
  requires: [deploy_start]
  parameters:
    strategy:
      type: one_by_one


##############################################################################
# ScaleIO prerequisites tasks
##############################################################################      
- id: scaleio-environment
  groups: [scaleio-storage, primary-controller, controller, compute, cinder]
  required_for: [deploy_end, hosts]
  requires: [deploy_start, netconfig]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/environment.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600
  reexecute_on:
    - deploy_changes
    
- id: scaleio-environment-existing-mdm-ips
  groups: [scaleio-storage, primary-controller, controller, compute, cinder]
  required_for: [deploy_end]
  requires: [scaleio-environment]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/environment_existing_mdm_ips.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600
  reexecute_on:
    - deploy_changes
    

##############################################################################
# ScaleIO storage installation tasks
##############################################################################
- id: scaleio-sds-server
  groups: [scaleio-storage]
  required_for: [deploy_end]
  requires: [scaleio-environment-existing-mdm-ips, firewall]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/sds_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800


##############################################################################
# ScaleIO cluster tasks
##############################################################################
- id: scaleio-mdm-server
  groups: [primary-controller, controller]
  required_for: [deploy_end]
  requires: [scaleio-environment-existing-mdm-ips, firewall, openstack-haproxy]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/mdm_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: scaleio-gateway-server
  groups: [primary-controller, controller]
  required_for: [deploy_end]
  requires: [scaleio-mdm-server]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/gateway_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800
  reexecute_on:
    - deploy_changes

- id: scaleio-configure-cluster
  groups: [primary-controller, controller]
  required_for: [deploy_end]
  requires: [scaleio-gateway-server]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/cluster.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800
  reexecute_on:
    - deploy_changes
    

##############################################################################
# ScaleIO client tasks
##############################################################################
- id: scaleio-sdc-server
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  role: [compute, cinder]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/sdc_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: scaleio-sdc
  required_for: [post_deployment_end]
  requires: [scaleio-sdc-server]
  role: [compute, cinder]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/sdc.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: scaleio-compute
  required_for: [post_deployment_end]
  requires: [scaleio-sdc]
  role: [compute]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/nova.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600

- id: scaleio-cinder
  required_for: [post_deployment_end]
  requires: [scaleio-sdc]
  role: [cinder]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/cinder.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600

