##############################################################################
# ScaleIO task groups
##############################################################################      
- id: scaleio-cluster
  type: group
  role: [primary-controller, controller]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end, cluster]
  requires: [deploy_start]
  parameters:
    strategy:
      type: one_by_one

- id: scaleio-storage
  type: group
  role: [scaleio-storage]
  tasks: [hiera, globals, tools, logging, netconfig, hosts, deploy_start]
  required_for: [deploy_end]
  requires: [deploy_start]
  parameters:
    strategy:
      type: one_by_one

- id: scaleio-client
  type: group
  role: [compute, cinder]
  tasks: []
  required_for: [post_deployment_end]
  requires: [post_deployment_start]
  parameters:
    strategy:
      type: one_by_one


##############################################################################
# ScaleIO prerequisites tasks
##############################################################################      
- id: scaleio-environment
  groups: [scaleio-cluster, scaleio-storage, scaleio-client]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/environment.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600

- id: scaleio-environment-existing-mdm-ips
  groups: [scaleio-cluster, scaleio-storage, scaleio-client]
  requires: [scaleio-environment]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/environment_existing_mdm_ips.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600


##############################################################################
# ScaleIO installation tasks
##############################################################################
- id: scaleio-mdm-server
  groups: [scaleio-cluster]
  requires: [scaleio-environment-existing-mdm-ips]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/mdm_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: scaleio-gateway-server
  groups: [scaleio-cluster]
  requires: [scaleio-mdm-server]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/gateway_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800
    
- id: scaleio-sds-server
  groups: [scaleio-storage]
  requires: [scaleio-environment-existing-mdm-ips]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/sds_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: scaleio-sdc-server
  groups: [scaleio-client]
  requires: [scaleio-environment-existing-mdm-ips]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/sdc_server.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800


##############################################################################
# ScaleIO cluster configuration tasks
##############################################################################
- id: scaleio-configure-cluster
  groups: [scaleio-cluster]
  requires: [scaleio-mdm-server, scaleio-gateway-server, scaleio-sds-server, scaleio-sdc-server]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/cluster.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800

- id: scaleio-sdc
  groups: [scaleio-client]
  requires: [scaleio-cluster]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/sdc.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 1800


##############################################################################
# Openstack components (Cinder, Nova) configuration tasks
##############################################################################
- id: scaleio-compute
  groups: [scaleio-client]
  requires: [scaleio-sdc]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/nova.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600

- id: scaleio-cinder
  groups: [scaleio-client]
  requires: [scaleio-sdc]
  type: puppet
  parameters:
    puppet_manifest: puppet/manifests/cinder.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600

