attributes:

  existing_cluster:
    type: "checkbox"
    value: false
    label: "Use existing ScaleIO."
    description: "Do not deploy ScaleIO cluster, just use existing cluster."
    weight: 10

  gateway_ip:
    type: "text"
    value: ""
    label: "Gateway IP address"
    description: "Cinder and Nova use it for requests to ScaleIO."
    weight: 20
    regex:
        source: '^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$'
        error: "Gateway address is requried parameter"
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == false"
        action: hide

  gateway_port:
    type: "text"
    value: "4443"
    label: "Gateway port"
    description: "Cinder and Nova use it for requests to ScaleIO."
    weight: 25
    regex:
        source: '^[0-9]+$'
        error: "Gateway port is required parameter"
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == false"
        action: hide
 
  password:
    type: "password"
    weight: 30
    value: ""
    label: "Admin password"
    description: "Type ScaleIO Admin password"
    regex:
      source: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,15}$'
      error: "You must provide a password with between 8 and 15 characters, one uppercase, and one number"
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == true"
        action: hide

  gateway_user:
    type: "text"
    value: "admin"
    label: "Gateway user"
    description: "Type a user name for the gateway"
    weight: 35
    regex:
        source: '^\w+$'
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == false"
        action: hide

  gateway_password:
    type: "password"
    weight: 40
    value: ""
    label: "Gateway password"
    description: "Type a password for the gateway"
    regex:
      source: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,15}$'
      error: "You must provide a password with between 8 and 15 characters, one uppercase, and one number"

  protection_domain:
    type: "text"
    value: "default"
    label: "Protection domain"
    description: "Name of protection domain."
    weight: 70
    regex:
      source: '^(\w+){1}((,){1}(?=\w+))*'
      error: "Can contain characters, numbers and underlines"

  storage_pools:
    type: "text"
    value: "default"
    label: "Storage pools"
    description: "Comma separated list for splitting devices between them, it could be just one element if all devices are belong to the one pool."
    weight: 80
    regex:
      source: '^(\w+){1}((,){1}(?=\w+))*'
      error: "Can contain characters, numbers and underlines"
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == true"
        action: hide
      - condition: "settings:scaleio.existing_cluster.value == true or cluster:fuel_version != '6.1'"
        action: hide

  existing_storage_pools:
    type: "text"
    value: "default"
    label: "Storage pools"
    description: "Storage pools which are allowed to be used in new Cloud."
    weight: 90
    regex:
      source: '^(\w+){1}((,){1}(?=\w+))*'
      error: "Can contain characters, numbers and underlines"
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == false"
        action: hide

  device_paths:
    type: "text"
    value: ""
    label: "Storage devices"
    description: "Comma separated list of devices, e.g. /dev/sdb,/dev/sdc."
    weight: 100
    regex:
      source: '^(/dev/[a-zA-Z0-9:-_/]+){1}((,){1}(?=/dev/[a-zA-Z0-9:-_/]+))*'
      error: 'List of path is incorrect. It is comma separated list aka /dev/sdb,/dev/sdc'
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == true or cluster:fuel_version != '6.1'"
        action: hide

  sds_on_controller:
    type: "checkbox"
    value: true
    label: "Controller as Storage"
    description: "Setup SDS-es on controller nodes."
    weight: 110
    restrictions:
      - condition: "settings:scaleio.existing_cluster.value == true or cluster:fuel_version != '6.1'"
        action: hide
        
  version:
    type: "select"
    weight: 120
    value: "2.0"
    label: "Version"
    description: "Select the ScaleIO version you wish to install. The only version 2.0 is supported for now."
    values:
      - data: "2.0"
        label: "2.0"

